.media-preview {
  width: 100%;
  display: flex;
  margin-bottom: -20px;

  &__about {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px 20px;
    gap: -10px;
  }

  &__cover {
    width: 80px;
    height: auto;
    border-radius: get-size(50);
  }

  &__cover--album {
    aspect-ratio: 1 / 1;
    width: 100px;
  }

  

  &__title {
    font-size: get-size(700);
    line-height: 1.2;
  }
  
  &__author {
    font-style: italic;
  }
}