.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.8rem;
    overflow-x: auto;

    // Add padding and neg margin to allow focus style visibility
    padding: 0.5rem;
    margin: -0.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }

  &__item {
    flex-shrink: 0;
    font-size: get-size(500);
    a {
      color: currentColor;
      @include apply-utility('weight', 'regular');
      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}
