.post {
  &__body {
    --flow-space: #{get-size(800)};

    /**
     * Generic HTML styles 
     */
    h2 + *,
    h3 + * {
      --flow-space: #{get-size(500)};
    }

    h2,
    h3 {
      position: relative;
      /*display: flex;*/

      @include apply-utility('leading', 'tight');
    }

    a:not([class]) {
      color: var(--color-dark);
      position: relative;
      display: inline-block;
      background: var(--color-theme-highlight);
      padding: 0.2rem 0.4rem 0.3rem 0.4rem;
      text-decoration: none;
      word-break: break-word;

      @include apply-utility('leading', 'tight');
    }

    a:not([class]):hover {
      text-decoration: underline;
    }

    code {
      font-size: 1em;
      color: var(--color-theme-primary);
      font-weight: 600;
      margin-left: 0.01ch;
      margin-right: 0.01ch;
    }

    pre {
      .codeblock-filename {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background: var(--color-dark);
        padding: 0.5rem 1rem;
        color: var(--color-light-glare);
        font-size: get-size('base');
        @include apply-utility('font', 'base');
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
      }
    }

    pre > code {
      margin-right: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .asciicast {
      margin-bottom: -1rem !important;
    }

    blockquote {
      border-left: 0.4rem solid var(--color-theme-primary-glare);
      margin-left: 0;
      padding-left: get-size(500);
      font-style: italic;
      font-size: get-size(600);

      p {
        opacity: 0.85;
        padding: get-size(500) 0;
      }
    }

    ol:not([class]),
    ul:not([class]) {
      margin-left: get-size(800);

      li + li {
        margin-top: get-size(300);
      }
    }

    figure img {
      position: relative;
      z-index: 1;
    }

    figcaption {
      font-size: 0.8em;
      font-style: italic;
      max-width: map-get($metrics, 'wrap-inner-max-width');
      margin: 0.5rem auto 0 auto;
      padding: 0 get-size(500);
    }

    pre > code {
      display: block;
      background: var(--color-dark);
      padding: 1rem;
      font-size: get-size('base');
    }
  }

  &__footer {
    margin-bottom: 3rem;

    h2 {
      flex-shrink: 0;
      margin-right: get-size('base');
    }

    h2 a {
      @extend %visually-hidden;
    }

    a {
      background: var(--color-theme-highlight);
      color: var(--color-dark);
      padding: 0.4rem 0.6rem;
    }
  }
}
