.site-foot {
  // Reverse whatever the theme colors are
  position: relative;
  background: var(--color-bg);
  color: var(--color-text);

  &__personal-details {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 3rem 0;
    gap: 0.5rem;

    @include media-query('md') {
      grid-template-columns: repeat(3, 1fr);
      padding: 5rem 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--color-text);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--color-text);
    }
  }

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__pronouns {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: -0.5rem;

    font-weight: 600;
    font-size: get-size(600);
    text-transform: uppercase;

    &__desc {
      font-weight: 400;
      font-size: get-size('base');
      text-transform: none;
      margin-bottom: -0.5rem;
    }

    @include media-query('md') {
      text-align: center;
      font-size: get-size(700);
    }
  }

  &__short-desc {
    padding-inline-start: 0;
    text-align: start;
    @include apply-utility('measure', 'compact');

    @include media-query('md') {
      padding-inline-start: 1rem;
      text-align: end;
    }
  }

  &__actions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--color-text);
    }
  }

  &__credits {
    text-align: center;
    padding: 2rem 0;
  }
}
