<div class="inner-wrapper">
  <header class="intro">
    {% if page.url !== '/' %}
      <h1 class="intro__heading">{{ introHeading }}</h1>
    {% endif %}
    {% if introSummary %}
      <div class="[ intro__summary{{ ' intro__summary--xlarge' if page.url === '/' }} ]">{{ introSummary | safe }}</div>
    {% endif %}
  </header>
</div>
