<footer role="contentinfo" class="site-foot">
  <div class="wrapper">
    <article class="site-foot__personal-details">
      <h2>{{ site.name }}</h2>
      <div class="site-foot__pronouns">
        <span class="site-foot__pronouns__desc">Pronouns are</span>
        {{ site.pronouns }}
      </div>
      {% if site.shortDesc %}
        <p class="site-foot__short-desc">
          {{ site.shortDesc |  safe }}
        </p>
      {% endif %}
    </article>

    <div class="site-foot__actions">
      {% set ariaLabel = 'footer navigation' %}
      {% include "partials/components/nav.njk" %}
      <theme-toggle/>
    </div>
    <div class="site-foot__credits">
      <p class="site-foot__credit">
        Powered by <a href="https://www.11ty.dev/" rel="external">11ty</a> and <a href="https://hylia.website" rel="external">Hylia</a>. Open-sourced on <a href="https://github.com/jharlow/blog" rel="external">Github</a>.
      </p>
    </div>
  </div>
</footer>
