<footer role="contentinfo" class="site-foot">
  <div class="wrapper">
    <article class="site-foot__personal-details">
      <div >
        <a href="/">
          <span class="visually-hidden">{{ site.name }} - Home</span>
          <h2 aria-hidden="true">{{ site.name }}</h2>
        </a>
        <div class="site-foot__pronouns">
          Pronouns are {{ site.pronouns }}
        </div>
      </div>
      {% if site.shortDesc %}
        <p class="site-foot__short-desc">
          {{ site.shortDesc |  safe }}
        </p>
      {% endif %}
    </article>

    <div class="site-foot__actions">
      {% set ariaLabel = 'footer navigation' %}
      {% include "partials/components/nav.njk" %}
      <theme-toggle/>
    </div>
    <div class="site-foot__credits">
      <p class="site-foot__credit">
        Powered by <a href="https://www.11ty.dev/" rel="external">11ty</a> and <a href="https://hylia.website" rel="external">Hylia</a>. Open-sourced on <a href="https://github.com/jharlow/www" rel="external">Github</a>.
      </p>
    </div>
  </div>
</footer>
