{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{# Accomplishment list content #}
{% set accomplishmentListHeading = accomplishmentsHeading %}
{% set accomplishmentItems = accomplishmentsFormatted %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}

      <div class="inner-wrapper">
        <section class="accomplishment-list">
          {% include "partials/components/accomplishments-list.njk" %}
        </section>
      </div>
    </article>
  </main>
{% endblock %}

